.widther{
	max-width: 80rem;
	//margin: 0 auto;
}

.contain{
	background: @gray3;
	padding: @padding;
	
	overflow-x: hidden;
	overflow-y: auto;
	.scrollbars(1rem/2, @color /*fade(black, 20%)*/, transparent);
	
	.padding{
		padding: @padding 2*@padding;
	}
	.item{
		margin: 1rem 0;
	}
	
	h1{
		font-size: @font_size*1.2;
		font-weight: bold;
	}
	
	.highlight{
		border-radius: @r-rad;
		background: @color;
		padding: @padding;
		color: white;
	}
	
	header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	button{
		cursor: pointer;
		border-radius: @r-rad;
		background: none;
		border: none;
		border: 2px solid transparent;
		padding: @padding;
		margin: @padding/2;
		font-size: 120%;
		transition: background .3s, border .3s;
		
		&:hover{
			border: 2px solid @color;
			background: @color;
		}
	}
}

#contain{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

#result, #move{
	
}


.info{
	border: 2px solid @color;
	padding: 1rem;
	border-radius: @r-rad;
	background: fade(@color, 40%);
}

.creditials{
	display: flex;
	flex-wrap: wrap;
	.source{
		border: @padding/2 solid @gray3;
		padding: @padding/2;
		background: white;
		flex-grow: 1;
		flex-basis: 150px;
	  opacity: .5;
		transition: opacity .3s;
		&:hover{
			opacity: 1;
		}
		
		a{
			text-decoration: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: column-reverse;
			align-items: center;
			
			img, span{
				margin: @padding/2;
			}
		}
		
		img{
			max-width: 350px;
			max-height: 100px;
		}
	}
}

