.contain{
	background: @gray3;
	padding: @padding;
	
	overflow-x: hidden;
	overflow-y: auto;
	.scrollbars(1rem, fade(black, 20%), transparent);
	
	.padding{
		padding: @padding 2*@padding;
	}
	.item{
		margin: 1rem 0;
	}
	
	h1{
		font-size: @font_size*1.2;
		font-weight: bold;
	}
	
	.highlight{
		border-radius: @r-rad;
		background: @gray;
		padding: @padding;
	}
}

#contain{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

#result, #move{
	
}

.creditials{
	display: flex;
	flex-wrap: wrap;
	.source{
		border: @padding/2 solid @gray3;
		padding: @padding/2;
		background: white;
		flex-grow: 1;
		flex-basis: 150px;
	  opacity: .5;
		transition: opacity .3s;
		&:hover{
			opacity: 1;
		}
		
		a{
			text-decoration: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: column-reverce;
			
			img, span{
				margin: @padding/2;
			}
		}
		
		img{
			max-width: 100%;
			max-height: 100px;
		}
	}
}

