.clear {
  float: none!important;
  clear: both!important;
  display: table!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.flexChild {
  flex-grow: 1;
}
[v-cloak] {
  display: none;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  color: #555;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-size: 12px;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  counter-reset: p_num 0;
  background: #4a4a4a;
  color: #bebebe;
}
img {
  border: none;
  display: inline-block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10.5px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
br {
  clear: both;
}
a {
  color: #3fa875;
  transition: color .3s;
}
a:hover {
  color: #59c18e;
}
#loader_overflow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  transition: opacity .3s;
}
#loader_overflow.hidden {
  opacity: 0;
}
.loader {
  width: 80px;
  height: 80px;
  position: relative;
  animation-name: spin;
  animation-duration: 1700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  /*/
    @w2: @w/2;
    @b: 4px;

    @w2: 0px;
    @b: @w/4;

    &:after{
        content: "";
        position: absolute;
        left: @w/2 - @w2/2 - @b;
        top:  @w/2 - @w2/2 - @b;
        width: @w2;
        height: @w2;
        border: @b solid #8DB6F3;
        border-left-color: rgba(255,255,255,0);
        border-right-color: rgba(255,255,255,0);
        .border-rad(@w);
        animation-name: spin;
        animation-duration: 1200ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    /**/
}
.loader:before,
.loader:after {
  color: #31835b;
  font-size: 200%;
  content: "🎲";
  position: absolute;
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
.loader:after {
  top: 0;
  left: 0;
}
.loader:before {
  bottom: 0;
  right: 0;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
\ #dbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  cursor: pointer;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: url('../img/bg2.jpg') no-repeat;
  background-size: cover;
}
@media screen and (min-width: 65em) {
  #app {
    flex-direction: row;
  }
}
#menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-height: 25vh;
  overflow-y: scroll;
  flex-grow: 3;
  flex-shrink: 0;
  background: rgba(74, 74, 74, 0.9);
}
#menu::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
#menu::-webkit-scrollbar-thumb {
  background: #31835b;
}
#menu::-webkit-scrollbar-track {
  background: transparent;
}
#menu body {
  scrollbar-face-color: #31835b;
  scrollbar-track-color: transparent;
}
#menu.maximise {
  max-height: 65vh;
}
#menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 100%;
}
#menu li {
  display: block;
  padding: 0 0.5rem;
  border: 13px solid transparent;
  cursor: pointer;
  font-weight: bold;
  color: #ccc;
  transition: color .3s;
}
#menu li:hover {
  color: #fff;
}
#menu .selected_1 {
  background: #31835b;
  border-image: url(../img/brush3.png) 13 13 13 13 repeat;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  border-image: url(../img/brush1.png) 13 13 13 13 repeat;
}
#menu .selected_2 {
  background: #31835b;
  border-image: url(../img/brush3.png) 13 13 13 13 repeat;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  border-image: url(../img/brush2.png) 13 13 13 13 repeat;
}
#menu .selected_3 {
  background: #31835b;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  border-image: url(../img/brush3.png) 13 13 13 13 repeat;
}
#menu .selected_4 {
  background: #31835b;
  border-image: url(../img/brush3.png) 13 13 13 13 repeat;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  border-image: url(../img/brush4.png) 13 13 13 13 repeat;
}
#menu .selected_5 {
  background: #31835b;
  border-image: url(../img/brush3.png) 13 13 13 13 repeat;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  border-image: url(../img/brush5.png) 13 13 13 13 repeat;
}
#menu .selected_6 {
  background: #31835b;
  border-image: url(../img/brush3.png) 13 13 13 13 repeat;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  border-image: url(../img/brush6.png) 13 13 13 13 repeat;
}
#data_list {
  background: #333;
}
#section_list {
  background: #3b3b3b;
}
#subsection_list {
  background: #424242;
}
@media screen and (min-width: 65em) {
  #menu {
    flex-wrap: nowrap;
    max-height: 100vh;
    /*overflow-y: scroll;*/
    flex-grow: 0;
    flex-shrink: 0;
  }
  #menu.maximise {
    max-height: 100vh;
  }
  #menu ul {
    flex-direction: column;
    max-width: 20rem;
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-basis: auto;
    overflow-y: auto;
  }
  #menu ul::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  #menu ul::-webkit-scrollbar-thumb {
    background: #31835b;
  }
  #menu ul::-webkit-scrollbar-track {
    background: transparent;
  }
  #menu ul body {
    scrollbar-face-color: #31835b;
    scrollbar-track-color: transparent;
  }
  #menu li {
    /*width: 17rem;*/
  }
}
.widther {
  max-width: 80rem;
  margin: 0 auto;
}
.contain {
  background: #4a4a4a;
  overflow-x: hidden;
  overflow-y: auto;
}
.contain::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.contain::-webkit-scrollbar-thumb {
  background: #31835b;
}
.contain::-webkit-scrollbar-track {
  background: transparent;
}
.contain body {
  scrollbar-face-color: #31835b;
  scrollbar-track-color: transparent;
}
.contain .padding {
  padding: 1rem 2rem;
}
.contain .item {
  margin: 1rem 0;
}
.contain h1 {
  font-size: 24px;
  font-weight: bold;
}
.contain #getRandom {
  margin: 0;
  margin-left: 0.5rem;
}
.contain .highlight {
  border-radius: 3px;
  background: #31835b;
  padding: 1rem;
  color: white;
}
.contain header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contain button {
  cursor: pointer;
  border-radius: 3px;
  background: none;
  border: none;
  border: 2px solid transparent;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 120%;
  transition: background .3s, border .3s;
}
.contain button:hover {
  border: 2px solid #31835b;
  background: #31835b;
}
#contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background: rgba(74, 74, 74, 0.9);
}
.info {
  border: 2px solid #31835b;
  padding: 1rem;
  border-radius: 3px;
  background: rgba(49, 131, 91, 0.4);
  color: white;
}
.creditials {
  display: flex;
  flex-wrap: wrap;
}
.creditials .source {
  border: 0.5rem solid #4a4a4a;
  padding: 0.5rem;
  background: white;
  flex-grow: 1;
  flex-basis: 150px;
  opacity: .5;
  transition: opacity .3s;
}
.creditials .source:hover {
  opacity: 1;
}
.creditials .source a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}
.creditials .source a img,
.creditials .source a span {
  margin: 0.5rem;
}
.creditials .source img {
  max-width: 350px;
  max-height: 100px;
}
